@import "../global";

$backcolor: $accent-color-lighter;
$hover-backcolor: $accent-color-light;

.list {
    margin: 0;
    padding: 0;
}

.listItem {
    list-style: none;
    padding-left: 1rem;

    .label:hover {
        background: $hover-backcolor;

        .list {
            background: $backcolor;
        }
    }
}

.label {
    display: block;
    color: $color-text-black;
    ;
    cursor: pointer;
}

.description {
    color: $color-text-gray;
}