$backcolor: var(--accent-color-lighter);
$hover-backcolor: var(--accent-color-light);

.list {
    margin: 0;
    padding: 0;
}

.listItem {
    list-style: none;
    padding-left: 1rem;

    .label:hover {
        background: $hover-backcolor;

        .list {
            background: $backcolor;
        }
    }
}

.label {
    display: block;
    color: var(--color-text-black);
    cursor: pointer;
}

.description {
    color: var(--color-text-gray);
}