$backcolor: hsl(210, 100%, 98%);
$hover-backcolor: hsl(210, 100%, 95%);

$color: #333;
$color2: #666;

.list {
    margin: 0;
    padding: 0;
}

.listItem {
    list-style: none;
    padding-left: 1rem;

    .label:hover {
        background: $hover-backcolor;

        .list {
            background: $backcolor;
        }
    }
}

.label {
    display: block;
    color: $color;
    cursor: pointer;
}

.description {
    color: $color2;
}