@import "../global";

$size: 3rem;
$large-radius: calc($size / 2);
$small-radius: calc($size / 8);


$color: hsl(210, 30%, 20%);
$backcolor: hsl(210, 100%, 98%);
$hover-backcolor: hsl(210, 100%, 95%);
$button-backcolor: hsl(210, 100%, 20%);

.wrapper {
  position: relative;
  min-width: $size;
  min-height: $size;
}

.optionsButton {
  position: absolute;
  top: 0;
  width: $size;
  height: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  background: $button-backcolor;
  color: $backcolor;
  cursor: pointer;
  box-shadow: $shadow-light;
  transition: 0.1s ease;

  &:hover {
    background-color: $hover-backcolor;
    box-shadow: $shadow-light;

    img {
      filter: invert(1);
    }
  }

}

.icon {
  width: 2rem;
}

.optionsWrapper {
  display: none;
  position: relative;
  height: calc($size - 0.25rem);
  min-width: 12rem;
  background-color: $backcolor;
  border: 0;
  border-radius: $large-radius 0 $small-radius $large-radius;
  box-shadow: $shadow-light;
  transform-origin: top right;
  transform: scaleY(0);
  transition: transform 0.1s ease;

  &_visible {
    transform: scaleY(1);
    display: block;
  }
}


.closeButtton {
  width: calc(100% - 1rem);
  height: 100%;
  margin-left: 1rem;
  padding-left: calc($size / 3 * 2);
  border: 0;
  background-color: $backcolor;
  color: $color;
  cursor: pointer;

  img {
    width: 0.75rem;
  }

  &:hover {
    background-color: $hover-backcolor
  }
}

.columnsWrapper {
  position: absolute;
  right: 0;
  bottom: calc($size - 0.25rem);
  width: calc(100% - 1rem);
  min-width: $size;
  padding: 0.25rem;
  background: $backcolor;
  border: 0;
  border-radius: $small-radius $small-radius 0 0;
  box-shadow: $shadow-light;
  transform-origin: bottom;
  animation: show-list 0.1s ease;
}

@keyframes show-list {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}