@import '../global';

.wrapper {
    position: relative;
    padding: 0 1rem 2rem 1rem;
    background-color: transparent;
    transform-origin: top;
    animation: wrapper-slide-in 1s ease;
    z-index: 10;
}

.list {
    list-style: none;
    background-color: var(--backcolor-main);
    padding: 0.75rem 0 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: $color-mode-transition;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-text-gray);
}

.itemColor {
    width: 2rem;
    height: 1rem;
    border: 1px solid var(--bordercolor-table);

    &_u {
        background: var(--backcolor-verb-u);
    }

    &_ru {
        background: var(--backcolor-verb-ru);
    }

    &_irregular {
        background: var(--backcolor-verb-irregular);
    }

    &_exceptionTag {
        background: var(--backcolor-verb-u-exception);
    }
}

@keyframes wrapper-slide-in {
    from {
        transform: translateY(-5rem)
    }

    30% {
        transform: translateY(-5rem)
    }

    to {
        transform: translateY(0)
    }
}