@import "../global";

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.button {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;

    svg {
        stroke: var(--color-text-black);
        fill: var(--color-text-black);
    }

    svg {
        opacity: 0.5;
    }

    &:hover {
        svg {
            opacity: 1;
        }
    }
}

.buttonBorder {
    border: 1px solid var(--bordercolor-table);

    &:hover {
        border: thin solid var(--color-text-gray);
    }
}