@import '../global';

$backcolor: var(--accent-color-dark);
$backcolor2: var(--accent-color-lighter);
$leftMargin: 0.25rem;

.wrapper {
    position: fixed;
    bottom: 0.25rem;
    width: 3rem;
    margin-left: $leftMargin;
    display: flex;
    z-index: 100;
    animation: wrapper-slide-in 1s ease;

    &_visible {
        .optionsWrapper {
            transform: translateX(0);
        }

        .button {
            background: $backcolor2;
            border: 2px solid $backcolor;
            transform: rotate(360deg);

            &:hover {
                box-shadow: var(--shadow-dark);

                .icon {
                    fill: var(--accent-color-light);
                }
            }
        }

        .icon {
            fill: var(--accent-color-dark);
        }
    }
}

.optionsWrapper {
    margin-left: 4rem;
    display: flex;
    gap: 0.5rem;
    transition: transform 0.3s ease;
    transform: translateX(-11rem);
}

.buttonWrapper {
    position: absolute;
    width: 3rem + $leftMargin;
    height: 3rem;
    margin-left: -$leftMargin;
    border-radius: 0 50% 50% 0;
    background: var(--backcolor-main);
    transition: $color-mode-transition;
}

.button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin-left: $leftMargin;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    background: $backcolor;
    color: $backcolor2;
    cursor: pointer;
    box-shadow: var(--shadow-light);
    transition: 0.2s ease;

    &:hover {
        box-shadow: var(--shadow-dark);
        background-color: var(--accent-color-darker);
        border-color: var(--accent-color-darker);
    }
}

.icon {
    width: 2rem;
    transition: 0.2s ease;
    fill: var(--accent-color-lighter);
}

@keyframes wrapper-slide-in {
    from {
        transform: translateX(-10rem)
    }

    70% {
        transform: translateX(-10rem)
    }

    to {
        transform: translateX(0);
    }
}