@import "../global";

$backcolor: hsl(210, 100%, 20%);
$backcolor2: hsl(210, 100%, 95%);

.wrapper {
    position: fixed;
    bottom: 0.25rem;
    width: 3rem;
    margin-left: 0.25rem;
    display: flex;
    z-index: 100;
    animation: wrapper-slide-in 1s ease;

    &_visible {
        .optionsWrapper {
            transform: translateX(0);
        }

        .button {
            background: $backcolor2;
            border: 2px solid $backcolor;
            transform: rotate(360deg);

            &:hover {
                box-shadow: $shadow-dark;
            }
        }

        .icon {
            filter: saturate(15) brightness(0.3) hue-rotate(60deg);
        }
    }
}

.optionsWrapper {
    margin-left: 4rem;
    display: flex;
    gap: 0.5rem;
    transition: 0.3s ease;
    transform: translateX(-15rem);
}

.button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    background: $backcolor;
    color: $backcolor2;
    cursor: pointer;
    box-shadow: $shadow-light;
    transition: 0.2s ease;

    &:hover {
        box-shadow: $shadow-dark;
        filter: brightness(1.3);
    }
}

.icon {
    width: 2rem;
    transition: 0.2s ease;
}

@keyframes wrapper-slide-in {
    from {
        transform: translateX(-10rem)
    }

    70% {
        transform: translateX(-10rem)
    }

    to {
        transform: translateX(0);
    }
}