.readCell {
    vertical-align: bottom;

    button {
        margin-bottom: 0.5rem;
        border: none;
        background-color: var(--accent-color-darker);
        opacity: 0.7;

        svg {
            stroke: var(--accent-color-lighter);
            fill: var(--accent-color-lighter);
            opacity: 1;
        }

        &:hover {
            opacity: 1;
            border: 1px solid var(--accent-color-light);
        }
    }
}

.headerDescription {
    opacity: 0.75;
    font-size: smaller;
}