.row {

    &_u {
        background: var(--backcolor-verb-u);
    }

    &_ru {
        background: var(--backcolor-verb-ru);
    }

    &_irregular {
        background: var(--backcolor-verb-irregular);
    }

    &_exceptionTag {
        background: var(--backcolor-verb-u-exception);
    }
}