$border-color: #ccc;

.table {
    margin-inline: auto;
    border: 1px solid $border-color;
    color: #333;
    border-collapse: collapse;

    thead {
        background: hsl(210, 100%, 95%);
        ;
    }

    td,
    th {
        border: 1px solid $border-color;
        padding: .25rem 1rem;
    }
}

.headerDescription {
    color: #666;
    font-style: italic;
}

.cellSubText {
    color: #666;
}

.row {

    &u {
        background: hsl(50, 90%, 98%);
    }

    &ru {
        background: hsl(100, 90%, 98%);
    }

    &irregular {
        background: hsl(240, 90%, 98%);
    }

    &exceptionTag {
        background: hsl(50, 90%, 90%);
    }
}