@import "../global";

.row {

    &_u {
        background: $backcolor-verb-u;
    }

    &_ru {
        background: $backcolor-verb-ru;
    }

    &_irregular {
        background: $backcolor-verb-irregular;
    }

    &_exceptionTag {
        background: $backcolor-verb-u-exception;
    }
}