@import "../global";

.table {
    position: relative;
    margin-inline: auto;
    color: $color-text-black;
    border-collapse: collapse;
    z-index: 50;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;
    ;

    thead {
        background: $accent-color-dark;
        color: $accent-color-lighter;
    }

    td,
    th {
        border-style: solid;
        border-width: 1px;
        padding: .25rem 1rem;
    }

    td {
        border-color: $bordercolor-table;
    }

    th {
        border-color: $bordercolor-table-header;
    }

    .readControlCell {
        padding: 0.25rem 0.5rem;
    }
}
