@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

.App {
  position: relative;
  min-height: 20rem;
  height: 100vh;
}

.AppHeader {
  display: flex;
  width: 100%;
}

.AppLogo {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}

.AppTitle {
  flex-grow: 1;
  text-align: center;
  color: #333;
}

.AppContent {
  height: calc(100% - 6rem);
  padding-bottom: 1rem;
}

.AppFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  color: hsl(210, 30%, 20%);
  z-index: -1;
}

@keyframes header-slide-in {
  from {
    transform: translateY(-100vh)
  }
  to {
    transform: translateY(0);
  }
}

@keyframes content-size-in {
  from {
    transform: scaleY(0)
  }
  to {
    transform: scaleY(1)
  }
}
