@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import "./global";

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: var(--backcolor-main);
  transition: $color-mode-transition;
}

.App {
  position: relative;
  min-height: 20rem;
  height: 100vh;
}

.AppHeader {
  display: flex;
  width: 100%;
}

.AppLogo {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;

  path {
    fill: var(--backcolor-main);
  }

  fill: var(--accent-color-dark)
}

.AppTitle {
  flex-grow: 1;
  text-align: center;
  color: var(--accent-color-dark);
  margin-left: -4.5rem;
}

.AppContent {
  height: calc(100% - 6rem);
  padding-bottom: 1rem;
}

.AppFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  color: hsl(210, 30%, 20%);
  z-index: -1;
}

.react-toggle {
  height: 18px;
  width: 3rem;
  margin-right: 1rem;
  align-self: center;
}

.react-toggle-track {
  border-radius: 16px !important;
}

@keyframes header-slide-in {
  from {
    transform: translateY(-100vh)
  }

  to {
    transform: translateY(0);
  }
}

@keyframes content-size-in {
  from {
    transform: scaleY(0)
  }

  to {
    transform: scaleY(1)
  }
}